p{
	margin: .25em 0;
	padding: 0;
  color: hsl(0, 0%, 35%)
}

h1,h2,h3,h4{
	  color:gray
}

#header{
  margin: 0;
  padding: 0;
  overflow: hidden;
  .block{
  margin: 0;
  }
}

body.html.not-front #main{
margin-top: 50px;
}

#navigation{
display: table;
clear: both;
}


#main-menu{

/*	background: url("../images/grid_bgd-0.5.png") repeat;*/
	vertical-align: middle;
	float: right;
/*	border-bottom: 1px solid gray;*/
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;

	a{
/*	color: #32CD32;*/
	font-weight: 700;

}

	a:hover,
	a:focus,
	a:active{
		font-weight: 300;
		}
}

#splash{
  background: url("../images/header.jpg") left center / cover no-repeat scroll #999;
	height: 450px;
  margin: 0;
/*  @include clearfix();*/


}

.bio{
  margin: 0;
  padding: 12px;
  h2{
    text-transform: capitalize;
    color: white;
}
  p{
  	color: #000000;
  }
}

div.item-list {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    @extend .well;
}

.item-list ul li {
    display: inline-block;
    float: none;
    height: 100%;
}

.item-list ul li[class*="first"] {
    margin-left: 0;
}

.views-row{
	@include clearfix();
}

.portfolio-card {
	margin: 1%;
	
	float: left;
	width: 95%;
	
	.views-field-title{
		text-align: center;	
		font-size: 1.2em;
		text-transform: uppercase;
		margin-bottom: 5px;
		margin-top: 20px;
		

}
}



@media all and (min-width: 560px) {

#splash{
  background: url("../images/header.jpg") center center / cover no-repeat scroll #999;
}


.portfolio-card {
	margin-top: 0;
	float: left;
	width: 45%;
	height: 370px;
}

.bio{
position: absolute;
top: 0;
	right: 10px;
  width: 50%;
  max-width: 570px;
  margin: 135px 12px 12px;
  height: 270px;
  overflow: scroll;
  overflow-y: scroll;
}
}



@media all and (min-width: 860px) {

.field-content > img {
	text-align: center;
	border-style: solid;
	border-color: orange;
}

.view-header{
      width: 60%;
      margin: 10px 10px 10px 25px;
      clear: both;
}

.views-row > .views-field-field-image {
  float: left; /* LTR */
  width: 60%;
  margin: 20px 40px 40px 40px;
}

.project-detail-container{
 	width: 30%;
	display: table;
 	float: left;
}

.project-detail {
  display: table-cell;
  vertical-align: middle;
}
 
.portfolio-card {
	margin-top: 0;
 	float: left;
 	width: 30.9%;
 	height: 350px;
}
}